# Copy file này thành .env.local và điền giá trị

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://jwxgmuzrufclvreuvple.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp3eGdtdXpydWZjbHZyZXV2cGxlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAxMTU0NzksImV4cCI6MjA4NTY5MTQ3OX0.j547TeTjyjrjB5Ls2rLV7tvgC_PJJqgk74wHwUj7Xx0

# Google OAuth (Web Client ID)
NEXT_PUBLIC_GOOGLE_WEB_CLIENT_ID=505181922642-aq3aaeddfd64e3hmna9dpl2jaoe1u5p1.apps.googleusercontent.com

# Backend API URL
NEXT_PUBLIC_API_URL=https://easystretch-be-2.vercel.app
